@{
    ViewBag.Title = "About";
}
<div class="container slider-content">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
			<div class="search-form wow pulse" data-wow-delay="0.8s">
				<h2 style="color: black">@ViewBag.Title.</h2>
				<h3 style="color: black">@ViewBag.Message</h3>

				<p style="color: black">Use this area to provide additional information.</p>
			</div>
		</div>
	</div>
</div>